.thank-you span i{
    font-size: 4rem;
    color: green;
    
}

.thank-you h1{
    font-size: 3.6rem;
    font-family: var(--subtitle-font-name);
}

@media (max-width: 576px) {
    .back-btn
    {
      width: 50% !important;
    }
  }

@media (max-width: 253px) {
    .back-btn
    {
      width: 70% !important;
    }
  }