.collapse-btn{
    background-color: var(--primary-color);
    z-index: 99;
}

.collapse-btn:focus,
.collapse-btn:hover{
    background-color: var(--secondary-color) !important;
    z-index: 99;
}


.wrapper {
    transition: all 0.3s ease-in-out;
  }
  
  .collapsed {
    width: 67px; /* Set the desired collapsed width */
  }

.sidebar-behind-space{
    width: 270px;
  }
  
.sidebar{
    min-height: 100vh;
    position: fixed;
}



.navigation-section .logo{
    width:200px;
}
.nav-pills .nav-link.active{
    background-color: var(--secondary-color) !important; 
    color: #fff
}

.admin-nav-items .nav-link{
    color: #fff !important;
}

.admin-nav-items .nav-link:hover{
    background-color: inherit !important;
    color: var(--primary-color) !important;
}

.admin-nav-items .nav-link.active{
    background-color: var(--primary-color) !important;
    color:#fff !important;
    font-size:20px
}

.nav-link.active i{
    font-size: 30px !important;
}
.nav-link i{
    font-size: 25px;
}

.collapse-btn i{
    font-size: 20px;
    padding: 0 3px;
}

.dropdown-item.active,
.dropdown-item:focus{
    background-color: var(--primary-color) !important;
}