.data-box{
    min-height: 100vh;
    
}

.table-box{
    overflow-x: auto;
}

body{
    min-height: 100vh;
}

table{
    border-radius: 20px !important;
    width: 120%;
}

tr{
    border-bottom: 1px solid;
    
}

.action-icon{
    color: var(--primary-color) !important;
    font-size: 20px;
}

tr th{
    
    color: var(--heading-color) !important;
    background-color: var(--primary-color) !important

}

th, td{
    white-space: nowrap;
    overflow: hidden;          
    text-overflow: ellipsis;
    vertical-align: middle;
}

.filter-btn{
    font-size: 17px;
}

.filter-btn.active{
    background-color: var(--primary-color);
}

.action-btn:hover{
    background-color: var(--secondary-color);
}

.action-btn:hover i{
    color:#fff !important
}

.action-btn:focus{
    background-color: var(--primary-color) !important;
    color:#fff !important
}
.action-btn:focus i{
    background-color: var(--primary-color) !important;
    color:#fff !important
}

.add-tour-btn{
    background-color: var(--secondary-color);
}

.add-tour-btn:focus,
.add-tour-btn:hover{
    background-color: var(--primary-color) !important;
}

.pagination button{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--header-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.active-page{
    background-color: var(--secondary-color);
    color: #fff !important;
}


@media screen and (max-width: 805px) {
    .profileimg{
        width: 40px !important;
        height: 40px !important;
    }

    .form-select{
        font-size: 70% !important;
        height: 15px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 768px) {
    .tours-table th, .tours-table td {
        font-size: 70%;
    }
    .action-btn i{
        font-size: 70%;
    }

    .action-btn{
        padding: 0 7px;
    }
    .menu-item-img{
        width: 50px;
        height: 50px;
    }

    .action-btn i{
        font-size: 70%;
    }

    .action-btn{
        padding: 0 7px;
    }
    .dashboard-text{
        font-size: 80%;
    }
    .dashboard-heading{
        font-size: 25px;
    }
    .filter-btn{
        font-size: 10px !important;
        padding: 0 3px;
        height: 25px;
    }
    
}

@media screen and (max-width: 768px) {
    .tours-table th, .tours-table td {
        font-size: 70%;
    }
    .action-btn i{
        font-size: 70%;
    }

    .action-btn{
        padding: 0 7px;
    }
}

@media screen and (max-width: 600px) {
    .tours-table th, .tours-table td {
        font-size: 50%;
    }
    .action-btn i{
        font-size: 70%;
        color: var(--secondary-color);
    }

    .action-btn:hover i{
        font-size: 70%;
        color: var(--secondary-color) !important;
    }

    .action-btn{
        padding: 0 0;
        margin: 0;
        background-color: transparent;
    }

    .action-btn:hover,
    .action-btn:active
    {
        padding: 0 0;
        margin: 0;
        background-color: transparent !important;
        border-color: transparent;
        color: var(--secondary-color) !important;
    }

    .profileimg{
        width: 30px !important;
        height: 30px !important;
    }

    .add-tour-btn{
        font-size: 10px !important;
        
        
    }
}