.header{
    height:80px;    
}

.navbar{
    transition: 0.5s;
}

.navbar-brand img{
    width:150px;
}

.nav-item a{
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-item a:hover{
    color:inherit;
}

.nav-item a.active{
    color: var(--secondary-color) !important;
}

.btn-register .primary-btn{
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}


.btn-register .primary-btn:hover{
    color:inherit;
}

.btn-login .secondary-btn{
    background-color: transparent !important;
    color: #0b2727 !important;
    border: none !important;
    font-weight: 500 !important;
}

.btn-login .secondary-btn{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--heading-color);
}

.btn-login .secondary-btn:hover{
    color: inherit;
}

.my-profile h5:hover{
    color: var(--secondary-color) !important
}